*.pyc
__pycache__/
*.pyo
*.pyd
*.env
.venv/
env/
venv/

model/
output/
*.spacy

data/labelled.jsonl
*.jsonl

*.log
*.ckpt

.ipynb_checkpoints/

ui/node_modules
api/node_modules
ner_pipeline/__pycache__